/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

/*------ BOTONES FLOTANTES ----- */
.boton0{
  display: none;
}
.boton1, .boton2, .boton3, .boton0{
    position: fixed;
    z-index: 2000;
    left: 0;
    margin: 4px auto;
    transition: left 0.5s ease ,opacity 0.5s ease;
    -webkit-transition: left 0.5s ease ,opacity 0.5s ease;
}
.boton1{
top: 180px;
}
.boton2{
top: 250px;
}
.boton3{
top: 320px;
}
#enlace a, #boton{   
    display: table-cell;
    color: #fff;
    height: 70px;
    width:  300px;
    font-size: 13px;
    vertical-align: middle;
}
#enlace a img, #boton img{    
    width: 60px;
    padding: 5px; 
    background: #7ac943; 
    float: left; 
}
#enlace a span{
	background: rgba(0, 0, 0, 0.5);
	height: 60px;
	width: auto; 
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;  
  float: left;
  text-align: left !important;
  line-height: 65px;
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.boton1:hover #enlace a span, .boton2:hover #enlace a span, .boton3:hover #enlace a span{
    visibility: visible;
  	opacity: 1;
}
footer,.container{
  z-index: 0;
}


@media (max-width: 480px){
.boton1, .boton2, .boton3{
top: initial;
margin-left: 8px;
transform:scale(0);
}
.boton0{
display: block;
bottom: 0px;
left: 3px;
}
.boton1{
bottom: 52px;
transition:0.5s;
}
.boton2{
bottom: 94px;
transition:0.7s;
}
.boton3{
bottom: 136px;
transition:0.9s;
}
.boton0 #enlace #boton{
  height: 50px;
  width:  50px; 
}
#boton img{  
    width: 50px; 
}
#enlace a, #boton{   
    display: table-cell;
    color: #fff;
    height: 40px;
    width:  40px;    
    text-align: center;
    vertical-align: middle;
}
#enlace a img{
    width: 40px;
}
#enlace a img, #boton img{     
    background: #7ac943; 
    float: left; 
    border-radius:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#enlace a span{
  display: none;
}}
.boton0:hover  + .boton1,.boton0:hover  + .boton1 + .boton2, .boton0:hover  + .boton1 + .boton2 + .boton3{
 transform:scale(1);
}
/*----- FIN BOTONES FLOTANTES ----*/



/*=========================== POP UP =============================*/
#popup{
   display: none;
   opacity: 0;
   margin-top: -300px;
   height: 100%;
   width: 100%;
}
#popup:target{
   display: table;
   opacity: 1;
   background-color: rgba(0,0,0,0.6) !important;
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;  
}
.popup-contenedor {
   position: relative;
   margin:12% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:30%;
   text-align: center
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
    
#close:target {
   display: none;
   opacity: 0;
   margin-top: -300px;
}  

@media (max-width: 1480px){
.popup-contenedor{
    width: 60%;
        margin: 20% auto !important;
  }}
@media (max-width: 860px){
.popup-contenedor{
    width: 80%;
        margin: 35% auto !important;
  }}
@media (max-width: 670px){
.popup-contenedor{
      width: 50%;
        margin: 50% auto !important;
  }
.popup-contenedor h1{
    font-size: 18px;
}
.popup-contenedor a{
    font-size: 14px;
}}
/*======================= fin POP UP =============================*/